/* latin */
@font-face {
    font-family:'Syncopate';
    font-style: normal;
    font-weight: 400;
    src: local('Syncopate'), local('Syncopate-Regular'), url(http://fonts.gstatic.com/s/syncopate/v7/pDM9CVwNx1ufBHCEatJA3FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px;
    overflow:hidden;
}
#canvas {
	z-index: 1;
}
#loginBox {
  position:absolute;
  z-index:2;
  left:calc(50% - 100px);
  top:calc(50% - 19px);
}
#gameStart {
  border:none;
  background-color: #00ffa2;
}
#gameStart:hover {
	background-image:url("http://media.giphy.com/media/kkoRgXbTCPY3K/giphy.gif");
}
